<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="PowerControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<PowerControl.Properties.Settings>
			<setting name="StartMinimized" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="LastTimerValueIndex" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="LastX" serializeAs="String">
				<value>-1</value>
			</setting>
			<setting name="LastY" serializeAs="String">
				<value>-1</value>
			</setting>
		</PowerControl.Properties.Settings>
	</userSettings>
	<startup/></configuration>
